@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
    margin: 0;
}
.box {
    padding: 5em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    background: #EEEEEE;
}
img {
    width: 50%;
}

/* toggle css */

/* sidenavActivator */
.sidenav {
    height: 35%; 
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 300px; 
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* The sidenav sidenavActivator links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 3;
  }
  
  /* When you mouse over the sidenav links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.sidenavActivator {
    position: absolute;
    z-index: 1;
    top: 330px;
    font-size: 25px;
    margin-left: 40px; 
    color: black;
    text-align: center;
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #EEEEEE;
    /*display: grid;
    grid-template-columns: 8% 84% 8%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}

.toggle {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 20px;
    right: 25px;
    font-size: 150%;
}

.toggle:before {
    content: "☀️";
}

.toggle.active:before {
    content: "🌑";
}

.toggle.animate {
    animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes animate {
    0%   { transform: scale(1); }
    50%  { transform: scale(0); }
    100% { transform: scale(1); }
}

.wave {
    position: absolute;
    top: 35px;
    right: 40px;
    border-radius: 100%;
    width: 2px;
    height: 2px;
    display: block;
    z-index: 1;
    box-shadow: 0 0 0 0 #212121;
    transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave.active {
    background: #212121;
    box-shadow: 0 0 0 9999px #212121;
}
/*.wrapper.animate {
    animation: animate .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}*/
.wrapper {
    position: absolute;
    z-index: 1;
    top: 18em;
    left: 12em;
    color: #ffff;
}
.light{
    color: white;
    display: block;
    z-index: 0;
}
h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
}
h2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
}
/* for the art gallery page */
.grid-art{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    grid-column: 2/3;
    width: 100%;
    height: 80vh;
    background: #eeeeee;
}
.grid-art div {
    width: auto;
    height: auto;
    background: rgb(90, 43, 43);
}

/* for the homepage */
.homepage-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 4fr 1fr;
    grid-template-rows: 5fr 2fr 1fr 1fr 3fr;
    gap: 2em;
    margin: auto;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    background: #eeeeee;
}
.homepage-img2 {
    grid-column: 3; 
    grid-row: 3/6;
    background-image: url(./day-o-night-switch/bilder/painting1.jpg);
    background-size: cover;
}
.homepage-img {
    grid-column: 2/3;
    grid-row: 1/4;
    background-image: url(./day-o-night-switch/bilder/painting2.jpg);
    background-size: cover;
}